body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  /* Caption Strong */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;

/* Dark */

color: #1E1E1E;
text-align: left;
padding-left: 20px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  /* Dark (Opacity 35%) */

  color: rgba(30, 30, 30, 0.35);
}

tr>td:nth-child(1){
  /* Caption Strong */

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 18px;

  /* Dark */

  color: #1E1E1E;
}
tr>td{
  /* Caption Strong */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;

/* Dark (Opacity 65%) */

color: rgba(30, 30, 30, 0.65);
text-align: left;
}
th{
  text-align: left;
}
tr, tbody, thead, table{
  border-bottom: 1px solid #00000022;
  border-collapse: collapse;
  padding-top: 9px;
  padding-bottom: 8px;
}

img{
  height: 22px;
  width: 22px;
  margin-right: 6px;
}

.negative{
  color: #FF492D;
}

.positive{
  color: #61BF1E;
}